<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="main-section">
            <div class="sidebar">
                <div class="profile-section">
                    <img src="assets/me.jpg" class="profile-img">
                    <p class="profile-name">Turzo</p>
                </div>
                <ul class="sidebar-items">
                    <li>
                        <img src="assets/menu.png" alt="">
                    </li>
                    <li>
                        <img src="assets/planning.png" alt="">
                    </li>
                    <li>
                        <img src="assets/bell.png" alt="">
                    </li>
                </ul>
                <ul class="sidebar-items">
                    <li>
                        <img src="assets/logout.png">
                    </li>
                </ul>
            </div>
            <div class="not-sidebar">
                <div class="title">
                    <h1>Projects</h1>
                </div>
                <div class="project-cards-container">
                    <div class="project-cards">
                        <div class="card-title">
                            <h2>Laravel Project</h2>
                        </div>
                        <div class="card-details">
                            <p>Role : </p>
                            <p> System Designer</p>
                            <br>
                            <p>Created :</p>
                            <p>27/02/23</p>
                        </div>
                    </div>
                    <div class="project-cards">
                        <div class="card-title">
                            <h2>Laravel Project</h2>
                        </div>
                        <div class="card-details">
                            <p>Role : </p>
                            <p> System Designer</p>
                            <br>
                            <p>Created :</p>
                            <p>27/02/23</p>
                        </div>
                    </div>
                    <div class="project-cards">
                        <div class="card-title">
                            <h2>Laravel Project</h2>
                        </div>
                        <div class="card-details">
                            <p>Role : </p>
                            <p> System Designer</p>
                            <br>
                            <p>Created :</p>
                            <p>27/02/23</p>
                        </div>
                    </div>
                    <div class="project-cards">
                        <div class="card-title">
                            <h2>Laravel Project</h2>
                        </div>
                        <div class="card-details">
                            <p>Role : </p>
                            <p> System Designer</p>
                            <br>
                            <p>Created :</p>
                            <p>27/02/23</p>
                        </div>
                    </div>
                    <div class="project-cards">
                        <div class="card-title">
                            <h2>Laravel Project</h2>
                        </div>
                        <div class="card-details">
                            <p>Role : </p>
                            <p> System Designer</p>
                            <br>
                            <p>Created :</p>
                            <p>27/02/23</p>
                        </div>
                    </div>
                    <div class="project-cards">
                        <div class="card-title">
                            <h2>Laravel Project</h2>
                        </div>
                        <div class="card-details">
                            <p>Role : </p>
                            <p> System Designer</p>
                            <br>
                            <p>Created :</p>
                            <p>27/02/23</p>
                        </div>
                    </div>
                    <div class="project-cards">
                        <div class="card-title">
                            <h2>Laravel Project</h2>
                        </div>
                        <div class="card-details">
                            <p>Role : </p>
                            <p> System Designer</p>
                            <br>
                            <p>Created :</p>
                            <p>27/02/23</p>
                        </div>
                    </div>
                    <div class="project-cards">
                        <div class="card-title">
                            <h2>Laravel Project</h2>
                        </div>
                        <div class="card-details">
                            <p>Role : </p>
                            <p> System Designer</p>
                            <br>
                            <p>Created :</p>
                            <p>27/02/23</p>
                        </div>
                    </div>
                    <div class="project-cards">
                        <div class="card-title">
                            <h2>Laravel Project</h2>
                        </div>
                        <div class="card-details">
                            <p>Role : </p>
                            <p> System Designer</p>
                            <br>
                            <p>Created :</p>
                            <p>27/02/23</p>
                        </div>
                    </div>
                    <div class="project-cards">
                        <div class="card-title">
                            <h2>Laravel Project</h2>
                        </div>
                        <div class="card-details">
                            <p>Role : </p>
                            <p> System Designer</p>
                            <br>
                            <p>Created :</p>
                            <p>27/02/23</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>