<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/project_style.css">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="main-section">
            <div class="sidebar">
                <div class="profile-section">
                    <img src="assets/me.jpg" class="profile-img">
                    <p class="profile-name">Turzo</p>
                </div>
                <ul class="sidebar-items">
                    <li>
                        <img src="assets/menu.png" alt="">
                    </li>
                    <li>
                        <img src="assets/planning.png" alt="">
                    </li>
                    <li>
                        <img src="assets/bell.png" alt="">
                    </li>
                </ul>
                <ul class="sidebar-items">
                    <li>
                        <img src="assets/logout.png">
                    </li>
                </ul>
            </div>
            <div class="not-sidebar">
                <div class="title">
                    <h1>Iftar Party</h1>
                </div>
                <h2><u>Sub-Tasks :</u></h2>
                <div class="sub-task-card-container">
                    <div class="sub-task-card">
                        <div class="section-one">
                            <h2>Invitation</h2>
                            <img src="assets/me.jpg">
                        </div>
                        <div class="progress-bar">
                            <div class="unfinished">
                                <div class="finished">
                                </div>
                            </div>
                            <label class="container">
                                <input checked="checked" type="checkbox">
                                <div class="checkmark"></div>
                            </label>
                        </div>
                        <div class="section-two">
                            <form method="get">
                                <input class="commit-input" type="text" placeholder="Commit Message">
                                <input class="commit-btn" type="button" value="Commit">
                            </form>
                        </div>
                        <div class="arrow">
                            <img src="assets/down-arrow.png">
                        </div>
                        <ul class="task-list">
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-task-card">
                        <div class="section-one">
                            <h2>Invitation</h2>
                            <img src="assets/me.jpg">
                        </div>
                        <div class="progress-bar">
                            <div class="unfinished">
                                <div class="finished">
                                </div>
                            </div>
                            <label class="container">
                                <input checked="checked" type="checkbox">
                                <div class="checkmark"></div>
                            </label>
                        </div>
                        <div class="section-two">
                            <form method="get">
                                <input class="commit-input" type="text" placeholder="Commit Message">
                                <input class="commit-btn" type="button" value="Commit">
                            </form>
                        </div>
                        <div class="arrow">
                            <img src="assets/down-arrow.png">
                        </div>
                        <ul class="task-list">
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-task-card">
                        <div class="section-one">
                            <h2>Invitation</h2>
                            <img src="assets/me.jpg">
                        </div>
                        <div class="progress-bar">
                            <div class="unfinished">
                                <div class="finished">
                                </div>
                            </div>
                            <label class="container">
                                <input checked="checked" type="checkbox">
                                <div class="checkmark"></div>
                            </label>
                        </div>
                        <div class="section-two">
                            <form method="get">
                                <input class="commit-input" type="text" placeholder="Commit Message">
                                <input class="commit-btn" type="button" value="Commit">
                            </form>
                        </div>
                        <div class="arrow">
                            <img src="assets/down-arrow.png">
                        </div>
                        <ul class="task-list">
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-task-card">
                        <div class="section-one">
                            <h2>Invitation</h2>
                            <img src="assets/me.jpg">
                        </div>
                        <div class="progress-bar">
                            <div class="unfinished">
                                <div class="finished">
                                </div>
                            </div>
                            <label class="container">
                                <input checked="checked" type="checkbox">
                                <div class="checkmark"></div>
                            </label>
                        </div>
                        <div class="section-two">
                            <form method="get">
                                <input class="commit-input" type="text" placeholder="Commit Message">
                                <input class="commit-btn" type="button" value="Commit">
                            </form>
                        </div>
                        <div class="arrow">
                            <img src="assets/down-arrow.png">
                        </div>
                        <ul class="task-list">
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-task-card">
                        <div class="section-one">
                            <h2>Invitation</h2>
                            <img src="assets/me.jpg">
                        </div>
                        <div class="progress-bar">
                            <div class="unfinished">
                                <div class="finished">
                                </div>
                            </div>
                            <label class="container">
                                <input checked="checked" type="checkbox">
                                <div class="checkmark"></div>
                            </label>
                        </div>
                        <div class="section-two">
                            <form method="get">
                                <input class="commit-input" type="text" placeholder="Commit Message">
                                <input class="commit-btn" type="button" value="Commit">
                            </form>
                        </div>
                        <div class="arrow">
                            <img src="assets/down-arrow.png">
                        </div>
                        <ul class="task-list">
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-task-card">
                        <div class="section-one">
                            <h2>Invitation</h2>
                            <img src="assets/me.jpg">
                        </div>
                        <div class="progress-bar">
                            <div class="unfinished">
                                <div class="finished">
                                </div>
                            </div>
                            <label class="container">
                                <input checked="checked" type="checkbox">
                                <div class="checkmark"></div>
                            </label>
                        </div>
                        <div class="section-two">
                            <form method="get">
                                <input class="commit-input" type="text" placeholder="Commit Message">
                                <input class="commit-btn" type="button" value="Commit">
                            </form>
                        </div>
                        <div class="arrow">
                            <img src="assets/down-arrow.png">
                        </div>
                        <ul class="task-list">
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-task-card">
                        <div class="section-one">
                            <h2>Invitation</h2>
                            <img src="assets/me.jpg">
                        </div>
                        <div class="progress-bar">
                            <div class="unfinished">
                                <div class="finished">
                                </div>
                            </div>
                            <label class="container">
                                <input checked="checked" type="checkbox">
                                <div class="checkmark"></div>
                            </label>
                        </div>
                        <div class="section-two">
                            <form method="get">
                                <input class="commit-input" type="text" placeholder="Commit Message">
                                <input class="commit-btn" type="button" value="Commit">
                            </form>
                        </div>
                        <div class="arrow">
                            <img src="assets/down-arrow.png">
                        </div>
                        <ul class="task-list">
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-task-card">
                        <div class="section-one">
                            <h2>Invitation</h2>
                            <img src="assets/me.jpg">
                        </div>
                        <div class="progress-bar">
                            <div class="unfinished">
                                <div class="finished">
                                </div>
                            </div>
                            <label class="container">
                                <input checked="checked" type="checkbox">
                                <div class="checkmark"></div>
                            </label>
                        </div>
                        <div class="section-two">
                            <form method="get">
                                <input class="commit-input" type="text" placeholder="Commit Message">
                                <input class="commit-btn" type="button" value="Commit">
                            </form>
                        </div>
                        <div class="arrow">
                            <img src="assets/down-arrow.png">
                        </div>
                        <ul class="task-list">
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-task-card">
                        <div class="section-one">
                            <h2>Invitation</h2>
                            <img src="assets/me.jpg">
                        </div>
                        <div class="progress-bar">
                            <div class="unfinished">
                                <div class="finished">
                                </div>
                            </div>
                            <label class="container">
                                <input checked="checked" type="checkbox">
                                <div class="checkmark"></div>
                            </label>
                        </div>
                        <div class="section-two">
                            <form method="get">
                                <input class="commit-input" type="text" placeholder="Commit Message">
                                <input class="commit-btn" type="button" value="Commit">
                            </form>
                        </div>
                        <div class="arrow">
                            <img src="assets/down-arrow.png">
                        </div>
                        <ul class="task-list">
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-task-card">
                        <div class="section-one">
                            <h2>Invitation</h2>
                            <img src="assets/me.jpg">
                        </div>
                        <div class="progress-bar">
                            <div class="unfinished">
                                <div class="finished">
                                </div>
                            </div>
                            <label class="container">
                                <input checked="checked" type="checkbox">
                                <div class="checkmark"></div>
                            </label>
                        </div>
                        <div class="section-two">
                            <form method="get">
                                <input class="commit-input" type="text" placeholder="Commit Message">
                                <input class="commit-btn" type="button" value="Commit">
                            </form>
                        </div>
                        <div class="arrow">
                            <img src="assets/down-arrow.png">
                        </div>
                        <ul class="task-list">
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-task-card">
                        <div class="section-one">
                            <h2>Invitation</h2>
                            <img src="assets/me.jpg">
                        </div>
                        <div class="progress-bar">
                            <div class="unfinished">
                                <div class="finished">
                                </div>
                            </div>
                            <label class="container">
                                <input checked="checked" type="checkbox">
                                <div class="checkmark"></div>
                            </label>
                        </div>
                        <div class="section-two">
                            <form method="get">
                                <input class="commit-input" type="text" placeholder="Commit Message">
                                <input class="commit-btn" type="button" value="Commit">
                            </form>
                        </div>
                        <div class="arrow">
                            <img src="assets/down-arrow.png">
                        </div>
                        <ul class="task-list">
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-task-card">
                        <div class="section-one">
                            <h2>Invitation</h2>
                            <img src="assets/me.jpg">
                        </div>
                        <div class="progress-bar">
                            <div class="unfinished">
                                <div class="finished">
                                </div>
                            </div>
                            <label class="container">
                                <input checked="checked" type="checkbox">
                                <div class="checkmark"></div>
                            </label>
                        </div>
                        <div class="section-two">
                            <form method="get">
                                <input class="commit-input" type="text" placeholder="Commit Message">
                                <input class="commit-btn" type="button" value="Commit">
                            </form>
                        </div>
                        <div class="arrow">
                            <img src="assets/down-arrow.png">
                        </div>
                        <ul class="task-list">
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                            <li>
                                    <div class="task">
                                        <p>Omar Hall</p>
                                        <label class="container">
                                            <input checked="checked" type="checkbox">
                                            <div class="checkmark"></div>
                                        </label>
                                    </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script>
        const card = document.querySelectorAll(".sub-task-card");
        const arrow_toggle = document.querySelectorAll(".arrow");
        const progress = document.querySelectorAll(".finished");
        
        for(let i = 0 ; i < arrow_toggle.length;i++)
        {
            j = 0
            while (j < 16) 
            {
                j++;
                a = j + "em"
                progress[i].style.width = a;
            }
        }
        for(let i = 0 ; i < arrow_toggle.length;i++)
        {
            arrow_toggle[i].onclick = function()
            {
                card[i].classList.toggle("active");
            };        
        }
        

        // arrow_toggle.forEach(element => 
        // {
        //     element.onclick = function () 
        //     {
        //     card.classList.toggle("active");
        //     };            
        // });




    </script>
</body>

</html>